/Workshps/FP02_ControlStatement/nbproject/private/
/Workshps/FP02_ControlStatement/build/
/Workshps/unit1/WS03Operations/BasicOperations/nbproject/private/
/Workshps/unit1/WS03Operations/BasicOperations/build/
/Workshps/unit1/WS01HolloWord/Hello Word/nbproject/private/
/Workshps/unit1/WS02ControlStatement/FP02_ControlStatement/nbproject/private/
/Assignments/deber/nbproject/private/
/Assignments/deber/build/
/Workshps/unit1/WS02ControlStatement/FP02_ControlStatement/build/
/Assignments/DistanceBetweenPointAndStraight/nbproject/private/
/Assignments/DistanceBetweenPointAndStraight/build/
/Assignments/Unit 1/HW02/HW02 Int/nbproject/private/
/Assignments/Unit 1/HW02/HW02 Short/nbproject/private/
/Assignments/Unit 1/HW02/HW02 float/nbproject/private/
/Assignments/Unit 1/HW02/HW02 Int/build/
/Assignments/Unit 1/HW02/HW02 Short/build/
/Assignments/Unit 1/HW02/HW02 float/build/
/Assignments/Unit 1/HW02/HW04 Operators/nbproject/private/
/Assignments/Unit 1/HW02/HW04 Operators/HW04 Operators/nbproject/private/
/Workshps/unit1/WS04 Operators/WS04 Operators/nbproject/private/
/Workshps/unit1/WS04 Operators/Operators/nbproject/private/
/Workshps/unit1/WS04 Logical Operators/Operators/nbproject/private/
/Workshps/unit1/WS04 Logical Operators/ Logical Operators/nbproject/private/
/Workshps/unit1/WS04 Logical Operators/ Logical Operators/build/
/Workshps/unit1/WS04 Logical Operators/WS05 Interations/nbproject/private/
/Workshps/unit1/WS05 Interation/WS05 Interations/nbproject/private/
/Workshps/unit1/WS05 Interation/WS05 Interations/build/
/Assignments/Unit 1/HW02 Operations/DistanceBetweenPointAndStraight/build/
/Assignments/Unit 1/HW02 Operations/DistanceBetweenPointAndStraight/nbproject/private/
/Assignments/Unit 1/HW02 Operations/HW02 Int/build/
/Assignments/Unit 1/HW02 Operations/HW02 Int/nbproject/private/
/Assignments/Unit 1/HW02 Operations/HW02 Short/build/
/Assignments/Unit 1/HW02 Operations/HW02 Short/nbproject/private/
/Assignments/Unit 1/HW02 Operations/HW02 float/build/
/Assignments/Unit 1/HW02 Operations/HW02 float/nbproject/private/
/Assignments/Unit 1/HW03 Interation White For/WH03 Interations/nbproject/private/
/Assignments/Unit 1/HW03 Interation White For/WH03 Interations/build/
/Workshps/unit1/WS05 Interation/WS05 Interation/nbproject/private/
/Workshps/unit1/WS05 Interation/WS05 Interation/build/
/Assignments/Unit 1/HW03 Interation White For/WH03 Interation/nbproject/private/
/Assignments/Unit 1/WS05 Interation/WH03 Interation/nbproject/private/
/Assignments/Unit 1/WS05 Interation/WH03 Interation/build/
/Workshps/unit1/WS07 Menus/WS07 Menus/nbproject/private/
/Workshps/unit1/WS07 Menus/WS07 Menus/build/
/Workshps/unit1/WS07 Menus/WH04 Menus swicht - case/nbproject/private/
/Workshps/unit1/WS07 Menus/WH04 Menus swicht - case/build/
/Workshps/unit1/WS07 Menus/WH04 Menus swicht - case/dist/
/Workshps/unit1/WS07 Menus/HW04 Menus Switch case/nbproject/private/
/Workshps/unit1/WS07 Menus/HW04 Menus Switch case/build/
/Assignments/Unit 1/HW04 Menus Swicht-Case/HW04 Menus Switch case/dist/
/Exams/Unit 1/question 1/Cambi Aaron Q1/nbproject/private/
/Exams/Unit 1/question 1/Cambi Aaron Q1/build/
/Exams/Unit 1/question 1/Cambi Aaron Q1/dist/
/Proyect Go navegation/Proyect Go Navegation/nbproject/private/
/Proyect Go navegation/Proyect Go Navegation/build/
/Proyect Go navegation/Proyect Go Navegation/dist/
/Proyect Go navegation/Tourist places of Quito/nbproject/private/
/Proyect Go navegation/Tourist places of Quito/build/
/Workshps/Unit 2/WS08 Examn01Solution/build/
/Workshps/Unit 2/WS08 Examn01Solution/dist/
/Assignments/Unit 2/HW 06 FACTORIAL/nbproject/private/
/Assignments/Unit 2/HW 06 FACTORIAL/build/
/Assignments/Unit 2/HW 06 FACTORIAL/dist/
/Assignments/Unit 2/WH09-EmbeddedStructures/nbproject/private/
/Assignments/Unit 2/WH09-EmbeddedStructures/build/
/Assignments/Unit 2/WH09-EmbeddedStructures/dist/
/Assignments/Unit1/HW02 Operations/DistanceBetweenPointAndStraight/build/
/Assignments/Unit1/HW02 Operations/DistanceBetweenPointAndStraight/nbproject/private/
/Assignments/Unit1/HW02 Operations/HW02 Int/build/
/Assignments/Unit1/HW02 Operations/HW02 Int/nbproject/private/
/Assignments/Unit1/HW02 Operations/HW02 Short/build/
/Assignments/Unit1/HW02 Operations/HW02 Short/nbproject/private/
/Assignments/Unit1/HW02 Operations/HW02 float/build/
/Assignments/Unit1/HW02 Operations/HW02 float/nbproject/private/
/Assignments/Unit1/HW04 Menus Swicht-Case/HW04 Menus Switch case/build/
/Assignments/Unit1/HW04 Menus Swicht-Case/HW04 Menus Switch case/dist/
/Assignments/Unit1/HW04 Menus Swicht-Case/HW04 Menus Switch case/nbproject/private/
/Assignments/Unit1/HW05 Interation/HW03 Interation/build/
/Assignments/Unit1/HW05 Interation/HW03 Interation/nbproject/private/
/Workshps/Unit2/WS10 Fuctions/nbproject/private/
/Workshps/Unit2/WS10 Fuctions/build/
/Workshps/Unit2/WS10 Fuctions/dist/
/Assignments/Unit2/HW10 Funtions/nbproject/private/
/Assignments/Unit2/HW10 Funtions/build/
/Assignments/Unit2/HW10 Funtions/dist/
/Assignments/Unit2/HW11 Recursion/nbproject/private/
/Assignments/Unit2/HW11 Recursion/build/
/Assignments/Unit2/HW11 Recursion/dist/
/Workshps/Unit2/WS12Libraries/nbproject/private/
/Workshps/Unit2/WS12Libraries/build/
/Workshps/Unit2/WS12Libraries/dist/
/Assignments/Unit2/HW12Libraries/nbproject/private/
/Assignments/Unit2/HW12Libraries/build/
/Assignments/Unit2/HW12Libraries/dist/
/Workshps/Unit2/WS13 Task/nbproject/private/
/Workshps/Unit2/WS13 Task/build/
/Workshps/Unit2/WS13 Task/dist/
/Workshps/Unit2/WS14Arraws/WS14Arraws/nbproject/private/
/Workshps/Unit2/WS14Arraws/WS14Arraws/build/
/Workshps/Unit2/WS14Arraws/WS14Arraws/dist/
/Workshps/Unit2/WS14Arraws/JavaApplication43/nbproject/private/
/Workshps/Unit2/WS14Arraws/JavaApplication43/build/
/Workshps/Unit2/WS14Arraws/JavaApplication43/dist/
/Quiz/Quiz12-02-2020/nbproject/private/
/Quiz/Quiz12-02-2020/build/
/Quiz/Quiz12-02-2020/dist/
/Quiz/solution quiz/nbproject/private/
/Quiz/solution quiz/build/
/Quiz/solution quiz/dist/
/Workshps/Unit2/WS16/nbproject/private/
/Workshps/Unit2/WS16/build/
/Workshps/Unit2/WS16/dist/
/Workshps/Unit2/HW15 MatrizSubtraction/nbproject/private/
/Workshps/Unit2/HW15 MatrizSubtraction/build/
/Workshps/Unit2/HW15 MatrizSubtraction/dist/
/Workshps/Unit2/HW15 MatrixOperation/nbproject/private/
/Workshps/Unit2/HW15 MatrixOperation/build/
/Workshps/Unit2/HW15 MatrixOperation/dist/
/Workshps/Unit2/WS 17 MatrixTransposition/nbproject/private/
/Workshps/Unit2/WS 17 MatrixTransposition/build/
/Workshps/Unit2/WS 17 MatrixTransposition/dist/
/Workshps/Unit2/HW18MtrixFunction/nbproject/private/
/Workshps/Unit2/HW18MtrixFunction/build/
/Workshps/Unit2/HW18MtrixFunction/dist/
/Workshps/Unit2/JavaApplication50/nbproject/private/
/Quiz/CambiAQ11/nbproject/private/
/Quiz/CambiAQ11/build/
/Quiz/CambiAQ11/dist/
/Quiz/WS17CastilloJQ11/nbproject/private/
/Quiz/WS17CastilloJQ11/build/
/Quiz/WS17CastilloJQ11/dist/
/Workshps/Unit3/WS21Funtion/nbproject/private/
/Workshps/Unit3/WS21Funtion/build/
/Workshps/Unit3/WS21Funtion/dist/
/Workshps/Unit3/WS22 ModuleCalator/nbproject/private/
/Workshps/Unit3/WS22ModularCalculator/nbproject/private/
/Workshps/Unit3/WS22ModularCalculator/build/
/Workshps/Unit3/WS22ModularCalculator/dist/
/Workshps/Unit3/WS23Libraries/WS23TaxDeclarations/nbproject/private/
/Workshps/Unit3/WS23Libraries/WS23TaxDeclarations/build/
/Workshps/Unit3/WS23Libraries/WS23TaxDeclarations/dist/
/Workshps/Unit3/WS23Libraries/TaxLibrary/nbproject/private/
/Workshps/Unit3/WS23Libraries/TaxLibrary/build/
/Workshps/Unit3/WS23Libraries/TaxLibrary/dist/
/Assignments/Unit3/HW17MatrixLibraries/nbproject/private/
/Assignments/Unit3/HW17MatrixLibraries/build/
/Assignments/Unit3/HW17MatrixLibraries/dist/
/Assignments/Unit3/HW17MatrixLibrarie/nbproject/private/
/Assignments/Unit3/HW17MatrixLibrarie/build/
/Assignments/Unit3/HW17MatrixLibrarie/dist/
/Assignments/Unit3/WS24Sorting/nbproject/private/
/Assignments/Unit3/WS24Sorting/build/
/Assignments/Unit3/WS24Sorting/dist/
/Assignments/Unit3/HW18SearchAlgorithms/nbproject/private/
/Assignments/Unit3/HW18SearchAlgorithms/build/
/Assignments/Unit3/HW18SearchAlgorithms/dist/
