/Workshps/FP02_ControlStatement/nbproject/private/
/Workshps/FP02_ControlStatement/build/
/Workshps/unit1/WS03Operations/BasicOperations/nbproject/private/
/Workshps/unit1/WS03Operations/BasicOperations/build/
/Workshps/unit1/WS01HolloWord/Hello Word/nbproject/private/
/Workshps/unit1/WS02ControlStatement/FP02_ControlStatement/nbproject/private/
/Assignments/deber/nbproject/private/
/Assignments/deber/build/
/Workshps/unit1/WS02ControlStatement/FP02_ControlStatement/build/
/Assignments/DistanceBetweenPointAndStraight/nbproject/private/
/Assignments/DistanceBetweenPointAndStraight/build/
/Assignments/Unit 1/HW02/HW02 Int/nbproject/private/
/Assignments/Unit 1/HW02/HW02 Short/nbproject/private/
/Assignments/Unit 1/HW02/HW02 float/nbproject/private/
/Assignments/Unit 1/HW02/HW02 Int/build/
/Assignments/Unit 1/HW02/HW02 Short/build/
/Assignments/Unit 1/HW02/HW02 float/build/
/Assignments/Unit 1/HW02/HW04 Operators/nbproject/private/
/Assignments/Unit 1/HW02/HW04 Operators/HW04 Operators/nbproject/private/
/Workshps/unit1/WS04 Operators/WS04 Operators/nbproject/private/
/Workshps/unit1/WS04 Operators/Operators/nbproject/private/
/Workshps/unit1/WS04 Logical Operators/Operators/nbproject/private/
/Workshps/unit1/WS04 Logical Operators/ Logical Operators/nbproject/private/
/Workshps/unit1/WS04 Logical Operators/ Logical Operators/build/
/Workshps/unit1/WS04 Logical Operators/WS05 Interations/nbproject/private/
/Workshps/unit1/WS05 Interation/WS05 Interations/nbproject/private/
/Workshps/unit1/WS05 Interation/WS05 Interations/build/
/Assignments/Unit 1/HW02 Operations/DistanceBetweenPointAndStraight/build/
/Assignments/Unit 1/HW02 Operations/DistanceBetweenPointAndStraight/nbproject/private/
/Assignments/Unit 1/HW02 Operations/HW02 Int/build/
/Assignments/Unit 1/HW02 Operations/HW02 Int/nbproject/private/
/Assignments/Unit 1/HW02 Operations/HW02 Short/build/
/Assignments/Unit 1/HW02 Operations/HW02 Short/nbproject/private/
/Assignments/Unit 1/HW02 Operations/HW02 float/build/
/Assignments/Unit 1/HW02 Operations/HW02 float/nbproject/private/
/Assignments/Unit 1/HW03 Interation White For/WH03 Interations/nbproject/private/
/Assignments/Unit 1/HW03 Interation White For/WH03 Interations/build/
/Workshps/unit1/WS05 Interation/WS05 Interation/nbproject/private/
/Workshps/unit1/WS05 Interation/WS05 Interation/build/
/Assignments/Unit 1/HW03 Interation White For/WH03 Interation/nbproject/private/
/Assignments/Unit 1/WS05 Interation/WH03 Interation/nbproject/private/
/Assignments/Unit 1/WS05 Interation/WH03 Interation/build/
/Workshps/unit1/WS07 Menus/WS07 Menus/nbproject/private/
/Workshps/unit1/WS07 Menus/WS07 Menus/build/
/Workshps/unit1/WS07 Menus/WH04 Menus swicht - case/nbproject/private/
/Workshps/unit1/WS07 Menus/WH04 Menus swicht - case/build/
/Workshps/unit1/WS07 Menus/WH04 Menus swicht - case/dist/
/Workshps/unit1/WS07 Menus/HW04 Menus Switch case/nbproject/private/
/Workshps/unit1/WS07 Menus/HW04 Menus Switch case/build/
/Assignments/Unit 1/HW04 Menus Swicht-Case/HW04 Menus Switch case/dist/
/Exams/Unit 1/question 1/Cambi Aaron Q1/nbproject/private/
/Exams/Unit 1/question 1/Cambi Aaron Q1/build/
/Exams/Unit 1/question 1/Cambi Aaron Q1/dist/
/Proyect Go navegation/Proyect Go Navegation/nbproject/private/
/Proyect Go navegation/Proyect Go Navegation/build/
/Proyect Go navegation/Proyect Go Navegation/dist/
/Proyect Go navegation/Tourist places of Quito/nbproject/private/
/Proyect Go navegation/Tourist places of Quito/build/
/Workshps/Unit 2/WS08 Examn01Solution/build/
/Workshps/Unit 2/WS08 Examn01Solution/dist/
/Assignments/Unit 2/HW 06 FACTORIAL/nbproject/private/
/Assignments/Unit 2/HW 06 FACTORIAL/build/
/Assignments/Unit 2/HW 06 FACTORIAL/dist/
/Assignments/Unit 2/WH09-EmbeddedStructures/nbproject/private/
/Assignments/Unit 2/WH09-EmbeddedStructures/build/
/Assignments/Unit 2/WH09-EmbeddedStructures/dist/
/Assignments/Unit1/HW02 Operations/DistanceBetweenPointAndStraight/build/
/Assignments/Unit1/HW02 Operations/DistanceBetweenPointAndStraight/nbproject/private/
/Assignments/Unit1/HW02 Operations/HW02 Int/build/
/Assignments/Unit1/HW02 Operations/HW02 Int/nbproject/private/
/Assignments/Unit1/HW02 Operations/HW02 Short/build/
/Assignments/Unit1/HW02 Operations/HW02 Short/nbproject/private/
/Assignments/Unit1/HW02 Operations/HW02 float/build/
/Assignments/Unit1/HW02 Operations/HW02 float/nbproject/private/
/Assignments/Unit1/HW04 Menus Swicht-Case/HW04 Menus Switch case/build/
/Assignments/Unit1/HW04 Menus Swicht-Case/HW04 Menus Switch case/dist/
/Assignments/Unit1/HW04 Menus Swicht-Case/HW04 Menus Switch case/nbproject/private/
/Assignments/Unit1/HW05 Interation/HW03 Interation/build/
/Assignments/Unit1/HW05 Interation/HW03 Interation/nbproject/private/
/Workshps/Unit2/WS10 Fuctions/nbproject/private/
/Workshps/Unit2/WS10 Fuctions/build/
/Workshps/Unit2/WS10 Fuctions/dist/
/Assignments/Unit2/HW10 Funtions/nbproject/private/
/Assignments/Unit2/HW10 Funtions/build/
/Assignments/Unit2/HW10 Funtions/dist/
/Assignments/Unit2/HW11 Recursion/nbproject/private/
/Assignments/Unit2/HW11 Recursion/build/
/Assignments/Unit2/HW11 Recursion/dist/
/Workshps/Unit2/WS12Libraries/nbproject/private/
/Workshps/Unit2/WS12Libraries/build/
/Workshps/Unit2/WS12Libraries/dist/
/Assignments/Unit2/HW12Libraries/nbproject/private/
/Assignments/Unit2/HW12Libraries/build/
/Assignments/Unit2/HW12Libraries/dist/
